.project-section-container {
    width: 100%;
    height: fit-content;
    background-color: white;
}

.project-section {
    padding: 120px;
}
.project-item {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color:#F1F4F7;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    text-align: center;
    position: relative;
    transition: 300ms ease-in-out;

}

.project-item a {
    width: 100%;
    transform: translate(-60px,-30px);
    position: absolute;
    border-radius: 10px;
    height: 100%;
}

.project-item:hover {
    transform: scale(1.1) rotate(5deg);
} 

.project-item img {
    width: 300px;
}
.project {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 100px;
    padding: 50px;
}

.project-text-wrapper {
    display: flex;
    justify-content: space-between;
}
