@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
    font-family: 'Rubik', sans-serif;
}


html {
  scroll-behavior: smooth;
}

body, * {
  margin:0;
  padding: 0;
  text-decoration: none;
}

.footer {
  height: fit-content;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}



